.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    margin: 50px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);

}
/* Responsive  */

@media screen and (max-width:1100px) {
    .product-container{
    grid-template-columns: repeat(2,1fr);
    }    
}
@media only screen and (max-width:688px) {
    .product-container{
     grid-template-columns: repeat(1, 1fr);
     gap: 10px;
     margin: 10px 10px;}
    .cart-container{
       width: 90%;
    }

       h1{
        font-size: 18px;}
        .product-info .price{
            font-size: 18px; }  
        .img-name{   
            display: block;
            padding: 2px;
         }
         .img-name img{
            width: 80px;
            height: 100px;}
        .selected-product{
            font-size: 12px;
        }


         .product-list{
            height: 460px;}

}
 
