.selected-product{
    padding: 20px 20px;
    position: sticky;
    top: 0;
}
.img-name{
    display: flex;
    align-items: center;
    padding: 5px;
}
.img-name img{
    width: 100px;
    height: 80px;
    padding-right:5px;
    border-radius: 50%;

}


