.product-list{
    width: 300px;
    height: 460px;
    border: 2px solid #f16623;
    border-radius: 6px;
    position: relative;
}
.product-list img{
    width: 286px;
    height: 286px;
    border-radius: 10px;
    margin: 7px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.product-info .price{
    color: #f16623;
}
.product-name{
    font-family:'Lato';
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 7px;
}
.btn-cart:hover{
    background-color: orange;
}